<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Bujori</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            body{
                font-family: Arial, sans-serif;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div>
            <h1 >Despre Bujori</h1>
            <br>
            <img src="../images/bujori1.jpeg" alt="Bujori">
            <h2> <strong> Descriere: </strong></h2>
            <p> {{ descriere }} </p>
                  
            <h2><strong> Culori: </strong></h2>
            <p> {{ culoare }} </p>
            <img src="../images/bujori2.jpeg" alt="Bujori Colorati">

            <h2><strong>Anotimp: </strong></h2>
            <p> {{ anotimp }}</p>
        </div>
    </body>
</html>