<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Culoare</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            text-align: center;
        }
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}"><button>Catre pagina principala</button></a>
        <a href="{{ url_for('descriere_brandusa') }}"><button>Afla descrierea brandusei de munte</button></a>
    </nav>
    <h2>Culoare:</h2>
    <p>{{ culoare }}</p>
</body>
</html>
