<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floarea Soarelui</title>
</head>
<body>
    <h1>Floarea Soarelui</h1>
    <p>Floarea-soarelui (Helianthus annuus) este o plantă originară din America, cunoscută pentru capacitatea sa de a se întoarce după soare.</p>
    <img src="{{ url_for('static', filename='/images/sunflower.jpeg') }}" alt="Sunflower">
    <a href="/color"><button>Află culoarea floarea-soarelui</button></a>
    <a href="/description"><button>Citește descrierea floarea-soarelui</button></a>
</body>
</html>