<!DOCTYPE html>
<html lang="en">
<head>
    <title>Magnolia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            font-family: Arial, sans-serif;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Despre Magnolie</h1>
        <br>
        <h2><strong>Descriere:</strong></h2>
        <p>{{ descriere }}</p>
        <img src="{{ url_for('static', filename='images/magnolia1.jpg') }}" alt="Magnolia" width="300px" height="300px">

        <h2><strong>Planta:</strong></h2>
        <p>{{ planta }}</p>
        <img src="{{ url_for('static', filename='images/magnolia2.jpg') }}" alt="Magnolia Planta" width="300px" height="300px">
    </div>
</body>
</html>
